@import "resources.scss";

.container{
  display: grid;
  grid-template-columns: 1fr min-content;

  grid-gap: 1rem;
  gap: 1rem;

  padding-top: 3rem;

  width: 100vw;
  height: 100vh;

  position: relative;

  &::-webkit-scrollbar {width: 0;}

  @include media(xl) {
    grid-template-columns: 30rem 1fr max-content;
    grid-template-rows: max-content;

    grid-gap: 0.5rem;
    gap: 0.5rem;

    padding-top: 0;
  }

  @include media(fullHD) {
    grid-template-columns: 40rem 1fr max-content;
  }
}