@import "resources.scss";

.container {
  display: grid;
  justify-self: center;

  max-width: 30rem;

  @include media(xl) {
    padding-top: 3rem;
  }

  & .img{
    width: 100%;
  }

  & .imgCaption{
    font-size: 0.5rem;
  }
}
