@import "resources.scss";

.container{
  justify-self: end;

  grid-row: 1;
  grid-column: 2;

  padding-right: 1.5rem;

  z-index: 10;

  @include media(xl) {
    grid-row: 3;
    grid-column: 1 / 4;

    justify-self: center;

    padding-right: 0;
  }

  & .logo{
    cursor: pointer;

    color: $black;
    text-decoration: none;
    font-weight: bold;

    @include media(xl) {
      font-size: 1.5rem;
    }

    @include media(fullHD) {
      font-size: 2rem;
    }
  }
}