@import "resources.scss";

.container{
  display: none;

  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, max-content);

  grid-row: 5;
  grid-column: 1 ;

  align-self: end;

  grid-gap: 1rem;
  gap: 1rem;

  padding: 1rem 2rem;

  @include media(xl) {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: max-content;
  }

  @include media(fullHD) {
    padding: 1.5rem 3rem;
  }

  & .languageSwitcher{
    display: grid;
    grid-template-columns: repeat(3, max-content);

    grid-gap: 0.5rem;
    gap: 0.5rem;

    grid-row: 1;
    grid-column: 1;

    & .item{
      text-decoration: none;

      font-size: 0.75rem;
      font-weight: bold;

      color: $black;

      &:hover{
        color: $darkBlue;
      }

      @include media(fullHD) {
        font-size: 1.2rem;
      }
    }

    & .separator{
      font-size: 0.75rem;
      color: $darkGrey;

      @include media(fullHD) {
        font-size: 1rem;
      }
    }

    & .searchArrow{
      display: inline-grid;
      transform: rotate(-90deg);
      margin-left: 0.25rem;
    }
  }

  & .otherLinks{
    display: grid;
    grid-template-columns: repeat(2, max-content);

    grid-gap: 1rem;
    gap: 1rem;

    grid-row: 1;
    grid-column: 2;

    & .item{
      text-decoration: none;

      font-size: 0.75rem;
      font-weight: bold;

      color: $black;

      &:hover{
        color: $darkBlue;
      }

      @include media(fullHD) {
        font-size: 1.2rem;
      }

      & span{
        color: $darkBlue;
      }
    }
  }
}