@import "resources.scss";

.container{
  display: grid;
  grid-gap: 0.5rem;

  position: absolute;


  border: 2px solid $darkGrey;
  border-top: none;

  background-color: $whiteGrey;

  @include media(xl) {
    top: 11.5rem;
    left: 10rem;
  }

  &.mainPage{
    top: 10rem;
    left: 1.5rem;

    @include media(xl) {
      top: 11.5rem;
      left: 10rem;
    }
  }

  &.contentPage{
    top: 2rem;
    left: 0.5rem;

    @include media(sm) {
      left: 1rem;
    }

    @include media(sm) {
      left: 5rem;
    }
  }

  & .item{
    cursor: pointer;
    padding: 0.25rem 2rem;

    &:hover{
      background-color: $darkGrey;
    }
  }
}
