@import 'fonts.scss';

@import 'palette.scss';

@import 'mediaQueryManager.scss';

@mixin fullHeight {
  min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  min-height: calc(var(--vh, 1vh) * 100);

  overflow: scroll;
}