$darkGrey: #818188;
$black: #0c0c0c;
$milk: #efeeec;
$shadowGrey: #616166;
$buttonGrey: #8a8988;
$white: #ffffff;
$whiteSmoke: #f8f8f8;
$veryLightGrey: #cecece;
$shadowDark: #e1e1e1;
$whiteGrey: #fafafa;